In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import svm
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
application_df['NAME'].value_counts().loc[lambda x: x>100]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
MONTANA 4-H FOUNDATION INC                                             107
HONOR SOCIETY OF PHI KAPPA PHI                                         107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: NAME, dtype: int64

In [7]:
names_to_replace = application_df['NAME'].value_counts().loc[lambda x: x<100].index.tolist()

# Replace in dataframe
for names in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(names,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C3700        1
C1732        1
C2150        1
C2380        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C3200        2
C1256        2
C1267        2
C1246        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x<1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
application_df.nunique()

STATUS                                                     2
ASK_AMT                                                 8747
IS_SUCCESSFUL                                              2
NAME_ALPHA PHI SIGMA                                       2
NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC       2
                                                        ...
INCOME_AMT_25000-99999                                     2
INCOME_AMT_50M+                                            2
INCOME_AMT_5M-10M                                          2
SPECIAL_CONSIDERATIONS_N                                   2
SPECIAL_CONSIDERATIONS_Y                                   2
Length: 75, dtype: int64

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [50]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [53]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=120, activation='relu', input_dim=74))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu', input_dim=120))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='relu', input_dim=30))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid', input_dim=30))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 120)               9000

 dense_13 (Dense)            (None, 30)                3630

 dense_14 (Dense)            (None, 10)                310

 dense_15 (Dense)            (None, 1)                 11

=================================================================
Total params: 12,951
Trainable params: 12,951
Non-trainable params: 0
_________________________________________________________________

In [54]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4829 - accuracy: 0.7626
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4830 - accuracy: 0.7626
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4820 - accuracy: 0.7630
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4818 - accuracy: 0.7631
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4812 - accuracy: 0.7636
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4805 - accuracy: 0.7632
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4802 - accuracy: 0.7643
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4806 - accuracy: 0.7646
Epoch 9/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4796 - accuracy: 0.7637
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4790 - accuracy: 0.7647
Epoch 11/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4794 - accuracy: 0.7641
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4786 - accuracy: 0.7653
Epoch 13/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4788 - accuracy: 0.7649
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4780 - accuracy: 0.7650
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4779 - accuracy: 0.7653
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4777 - accuracy: 0.7655
Epoch 17/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4772 - accuracy: 0.7655
Epoch 18/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4774 - accuracy: 0.7654
Epoch 19/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4773 - accuracy: 0.7660
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4767 - accuracy: 0.7662
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4767 - accuracy: 0.7657
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4766 - accuracy: 0.7654
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4757 - accuracy: 0.7673
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4758 - accuracy: 0.7662
Epoch 25/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4761 - accuracy: 0.7662
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4758 - accuracy: 0.7659
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4759 - accuracy: 0.7659
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4751 - accuracy: 0.7662
Epoch 29/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4752 - accuracy: 0.7665
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4751 - accuracy: 0.7666
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4751 - accuracy: 0.7662
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4747 - accuracy: 0.7665
Epoch 33/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4745 - accuracy: 0.7657
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4748 - accuracy: 0.7668
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4748 - accuracy: 0.7668
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4739 - accuracy: 0.7673
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4745 - accuracy: 0.7670
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4739 - accuracy: 0.7670
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4737 - accuracy: 0.7671
Epoch 40/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4736 - accuracy: 0.7666
Epoch 41/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4736 - accuracy: 0.7670
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4734 - accuracy: 0.7675
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7674
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4734 - accuracy: 0.7672
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7679
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7672
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7672
Epoch 48/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4730 - accuracy: 0.7674
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7665
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4734 - accuracy: 0.7675
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7677
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7680
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7675
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7679
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7673
Epoch 56/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4723 - accuracy: 0.7676
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7682
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7683
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4718 - accuracy: 0.7680
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4719 - accuracy: 0.7678
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4714 - accuracy: 0.7679
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7679
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4714 - accuracy: 0.7673
Epoch 64/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4717 - accuracy: 0.7680
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7685
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4713 - accuracy: 0.7678
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4712 - accuracy: 0.7682
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4710 - accuracy: 0.7672
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7677
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4714 - accuracy: 0.7676
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7636
Epoch 72/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4719 - accuracy: 0.7664
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4717 - accuracy: 0.7677
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7671
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7676
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4711 - accuracy: 0.7675
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4708 - accuracy: 0.7679
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7676
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4705 - accuracy: 0.7675
Epoch 80/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4702 - accuracy: 0.7672
Epoch 81/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4706 - accuracy: 0.7680
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7682
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4704 - accuracy: 0.7680
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7667
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4702 - accuracy: 0.7684
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4699 - accuracy: 0.7678
Epoch 87/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4703 - accuracy: 0.7681
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7682
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4702 - accuracy: 0.7683
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4705 - accuracy: 0.7680
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7688
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4700 - accuracy: 0.7683
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4701 - accuracy: 0.7678
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7688
Epoch 95/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4696 - accuracy: 0.7674
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7692
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7690
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7683
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7688
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4697 - accuracy: 0.7688
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4701 - accuracy: 0.7683
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4692 - accuracy: 0.7686
Epoch 103/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4693 - accuracy: 0.7682
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7681
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7680
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7681
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4699 - accuracy: 0.7685
Epoch 108/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7678
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4691 - accuracy: 0.7689
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4689 - accuracy: 0.7689
Epoch 111/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4694 - accuracy: 0.7682
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7690
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4691 - accuracy: 0.7685
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4692 - accuracy: 0.7681
Epoch 115/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4689 - accuracy: 0.7683
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7682
Epoch 117/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4690 - accuracy: 0.7686
Epoch 118/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4686 - accuracy: 0.7682
Epoch 119/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4692 - accuracy: 0.7679
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4692 - accuracy: 0.7692
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7680
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7688
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4687 - accuracy: 0.7689
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7685
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7690
Epoch 126/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4691 - accuracy: 0.7687
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7689
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7688
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4688 - accuracy: 0.7687
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7688
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7685
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4687 - accuracy: 0.7683
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4689 - accuracy: 0.7687
Epoch 134/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4685 - accuracy: 0.7683
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7692
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4681 - accuracy: 0.7687
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4684 - accuracy: 0.7684
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7685
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7690
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4691 - accuracy: 0.7682
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7682
Epoch 142/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4686 - accuracy: 0.7690
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7687
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7685
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7685
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7690
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7685
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4681 - accuracy: 0.7685
Epoch 149/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4681 - accuracy: 0.7689
Epoch 150/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4681 - accuracy: 0.7683

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5243 - accuracy: 0.7566 - 345ms/epoch - 1ms/step
Loss: 0.5242852568626404, Accuracy: 0.756618082523346

In [60]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')